.background{
    background-color: grey;
}

.font{
    text-align: center;
    font-size: xx-large;
    color: wheat;
}

.color{
    color: wheat;
}

.mar{
    margin-top: 1%;
    margin-left: 40%;
}
.schear{
    margin: 1%;
}

