* {
    margin: 0;
    padding: 0;
}

body {
    background: #171d22;
    background-size: cover;
    font-family: consolas;
}

.Login-wrapper {
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Form {
    position: relative;
    width: 100%;
    max-width: 300px;
    padding: 80px 50px 65px;
    background: #171d22;
    border-radius: 10px;
    color: white;
    box-shadow: 0 15px 25px #171d22;
}

@media screen and (max-width: 420px) {
    .Form {
        max-width: 260px;
    }
}

.Form:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.08);
    border-radius: 10px;
    pointer-events: none;
}

.Form img {
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    width: 100px;
    background: rgba(255,255,255, 0.8);
    border-radius: 50%;
}

.Form h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: #2196f3;
}

.Form .Input-group {
    position: relative;
}

.Form .Input-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;
    color: inherit;
}
.Form .Input-group label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1px 0;
    font-size: 1rem;
    pointer-events: none;
    transition: .3s ease-out;
}

.Form .Input-group input:focus + label,
.Form .Input-group input:valid + label { 
    transform: translateY(-18px); 
    color: #2196f3;
    font-size: .8rem;
} 

#Submit-button {
    display: block;
    margin-left: auto;
    border: none;
    outline: none;
    background: #2196f3;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position:absolute;
    top:200px;
    left:130px;
}

#Login-button {
    display: block;
    margin-left: auto;
    border: none;
    outline: none;
    background: #2196f3;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 285px;
    left: 290px;
}

@media screen and (max-width: 450px) {
    #Login-button {
       left: 258px;
    }
    .register{
        font-size: 11px !important;
    }
    .Forgot-pswd {
        font-size: 11px !important;
    }
}

#Register-button {
    display: block;
    margin-left: auto;
    border: none;
    outline: none;
    background: #2196f3;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position:absolute;
    top:220px;
    left:250px;
}
#Register-button:hover{
    color: white;
}

#Login-button:hover{
    color: white;
}

#Submit-button:hover{
    color:white;
}

.Forgot-pswd {
    position: absolute;
    top: 280px;
    left: 20px;
    color: inherit;
    font-size: small;
}

#forgot-pswd {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 1;
    background: #171d22;
    opacity: 0;
    transition: 0.6s;           
    
}
#inscription{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 1;
    background: #171d22;
    opacity: 0;
    transition: 0.6s;           
    
}
#inscription:target {
    height: 100%;
    opacity: 1;
    bottom: 10px;
}
.register {
    position: absolute;
    top: 305px;
    left: 20px;
    color: inherit;
    font-size: small;
}
.register:hover {
    color: #2196f3
}

.Forgot-pswd:hover {
    color : #2196f3;
}
#forgot-pswd {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 1;
    background: #171d22;
    opacity: 0;
    transition: 0.6s;           
    
}

.errors {
    position: absolute;
    top: 355px;
    color: red !important;
    left: 20px;
    color: inherit;
    font-size: small;
}



.Background-image {
    height: 100%;
}

#forgot-pswd:target {
    height: 100%;
    opacity: 1;
    bottom: 10px;
}

.Close {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    color: inherit;
}

.Back-to-login {
    color: white;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 65px;
    overflow: hidden;
    transition: 0.3s;
}

.Back-to-login:hover {
    color: #2196f3;
    background: #171d22;
    transition-delay: none;
}

.Footer {
    margin: 20px;
    position: absolute;
    bottom: 0px;
    right: 15px;
}

nav h1{
    color: #717171;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}
nav .onglets{
    padding: 10px;
    z-index: 50;
}
nav .onglets a{
    text-decoration: none;
    color: #2196f3;
    margin-right: 10px;
    border-bottom: 1px solid #2196f3;
    padding-bottom: 5px;
    font-size: 17px;
}