* {
    margin: 0;
    padding: 0;
}

body {
    background: #818181;
    font-weight: bold;
}

nav{
    
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
nav h1{
    color: #717171;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}
nav .onglets{
    margin-bottom: 0.5%;
}
nav .onglets a{
    text-decoration: none;
    color: wheat;
    margin-right: 10px;
    border-bottom: 1px solid wheat;
    padding-bottom: 5px;
    font-size: 17px;
}

#logo {
    max-width: 8vh;
    padding: 10px;
    position: relative;
    margin-right: auto;
}

form {
    padding-top: 80px;
}

textarea {
    resize: none;
    padding: 24px;
    height: 220px;
    width: 600px;
    margin-left: 20px;
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgb(0 0 0 / 0%);
    border-style: none;
    outline: none;
    border-radius: 5px;
}

input {
    padding: 10px;
    margin-left: 20px;
    border-style: none;
}

.btn10 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
  }
  
  .btn10 h4 {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #111;
  }
  
  .btn10 span {
    background-color: #111;
    height: 00px;
    width: 50px;
    position: relative;
    bottom: 0;
    z-index: 1;
  }
  
  .btn10 span:nth-child(1) {
    transition: all 1300ms ease;
  }
  .btn10 span:nth-child(2) {
    transition: all 1100ms ease;
  }
  .btn10 span:nth-child(3) {
    transition: all 900ms ease;
  }
  .btn10 span:nth-child(4) {
    transition: all 700ms ease;
  }
  .btn10 span:nth-child(5) {
    transition: all 500ms ease;
  }
  .btn10 span:nth-child(6) {
    transition: all 300ms ease;
  }
  .btn10 span:nth-child(7) {
    transition: all 500ms ease;
  }
  .btn10 span:nth-child(8) {
    transition: all 700ms ease;
  }
  .btn10 span:nth-child(9) {
    transition: all 900ms ease;
  }
  .btn10 span:nth-child(10) {
    transition: all 1100ms ease;
  }
  .btn10 span:nth-child(11) {
    transition: all 1300ms ease;
  }
  
  .btn10:hover span {
    height: 100px;
  }
  
  .btn10:hover h4 {
    color: #fff;
  }

  h4 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    color: #111;
  }
  
  .container {
    min-height: 100vh;
    height: auto;
    width: 100vw;
    overflow: hidden;
    background: #000428;
    background: linear-gradient(to right, #bdfff3, #4ac29a);
    position: relative;
  }
  
  
  .btn {
    height: 60px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
    position: relative;
    border: 2px solid #111;
    margin: 0 500px;
    cursor: pointer;
  }
  
  .btn::before,
  .btn::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
  }