@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto:400');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: #545454;
}
nav{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
nav h1{
    color: #717171;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}
nav .onglets{
    margin-bottom: 0.5%;
}
nav .onglets a{
    text-decoration: none;
    color: wheat;
    margin-right: 10px;
    border-bottom: 1px solid wheat;
    padding-bottom: 5px;
}

header{
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    color: wheat;
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%);
}
header h1{
    font-size: 70px;
    font-family: 'Oleo Script', cursive;
}
header h4{
    margin-top: -20px;
    text-align: center;
    border-bottom: 1px solid wheat;
    font-family: 'Oleo Script', cursive;
    font-size: 40px
}
header button{
    padding: 10px 20px;
    background-color: wheat;
    color:#000;
    border:none;
    margin-bottom: 30px;
    outline:none;
    font-size: 25px;
    font-family: 'Oleo Script', cursive;
    cursor: pointer;
    border-radius: 7px;
}

.main{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.main .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:20px;
    padding-top: 15px;
}
.main .content .card .left{
   flex: 0 0 30%;
   padding: 20px;
   background-color:wheat;
   color:#000;
}

.main .content .card .right img{
    height:300px;
    width: 400px;
    margin-top: 5px;
}

footer{
    border-top: 5px solid white;
    background-color: #000000;
    color: #fff;
    padding: 30px 100px;;
}
footer h1{
    font-family: 'Playfair Display', serif;
    border-bottom: 1px solid white;
    width: 20%;
    padding-bottom: 5px;
}
footer .services{
    margin-top: -10px;
    display:flex;
    flex-wrap:wrap;
}
footer .services .service{
    margin-right: 30px;
}
footer .services .service p{
    max-width: 300px;
}
footer #contact{
    color: rgb(181, 181, 181);
}

@media screen and (max-width:680px){
    nav .onglets {
        margin-left: 0px;
    }
    .main .card {
        margin: 10px;
    }
    .main .content .card .right img{
        height:200px;
        width: 100%;
        margin-top: -0px;
    }
    .main .content .card{
        display: block;
    }
    footer{
        padding: 30px;
    }
}

#logo {
    max-width: 8vh;
    padding: 10px;
    position: relative;
    margin-right: auto;
}

div.absolute-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    opacity: 1;
    visibility: visible;
    
    transition: all .5s;
}

canvas {
    background: linear-gradient(0deg, #545454, #8d8d8d  50%, #545454);
    position: relative;
    max-width: 100%;
}

.scroller {
    overflow: auto;
    height: 600pt;
    background: grey;
}












span.s1 {
    position: absolute;
    top: 0;
    font-size: 15rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #3C4447;
  }
  
  span.s2 {
    font-weight: 800;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 15rem;
    text-transform: uppercase;
    color: #3C4447;
  }
  

  
  
  .thumbnail {
      float: left;
      position: relative;
      left: 30px;
      top: -30px;
      height: 320px;
      width: 530px;
      box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
    overflow: hidden;
  }
  
  img.imgleft {
      position: absolute;
      left: 50%;
      top: 50%;
      height: auto;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.cardleft {
  position: relative;
  background-color: #FFF;
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  margin: 2%;
  max-width: 25%;
  flex-direction: row-reverse;
  border-radius: 2%;
  text-align: center;
}

  
  .titlecard {
    padding-top: 15px;
    font-size: 1.3rem;
    color: #4B4B4B;
  }
  
  .auteur {
    background-color: #9ECAFF;
    height: 30px;
    width: 110px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px 0px rgb(0 0 0 / 25%);
  }
  
  .auteur > img {
    padding-top: 5px;
    margin-left: 10px;
    float: left;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
  
  h2 {
    padding-top: 8px;
    margin-right: 15px;
    text-align: right;
    font-size: 0.8rem;
  }
  .separator {
    margin-top: 10px;
    border: 1px solid #C3C3C3;
  }
  
  .textIn {
    padding: 15px;
    padding-top: 10px;
    font-size: 0.95rem;
    line-height: 150%;
    color: #4B4B4B;
  }
  
  
 
  .fab {
    position: absolute;
    right: 50px;
    bottom: -40px;
    box-sizing: border-box;
    padding-top: 18px;
    background-color: #1875D0;
    width: 80px;
    height: 80px;
    color: white;
    text-align: center;
    border-radius: 50%;
    box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  }
  
  .titlecard2 {
    padding-top: 15px;
    font-size: 1.3rem;
    color: #4B4B4B;
  }
  
  .auteur2 {
    background-color: #9ECAFF;
    height: 30px;
    width: 110px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px 0px rgb(0 0 0 / 25%);
  }
  
  .auteur2 > img {
    padding-top: 5px;
    margin-left: 10px;
    float: left;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
  
  h2 {
    padding-top: 8px;
    margin-right: 15px;
    text-align: right;
    font-size: 0.8rem;
  }
  .separator2 {
    margin-top: 10px;
    border: 1px solid #C3C3C3;
  }
  
  .textIn2 {
    padding: 15px;
    padding-top: 10px;
    font-size: 0.95rem;
    line-height: 150%;
    color: #4B4B4B;
  }

  img.imgleft2 {
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.cardleft2 {
position: relative;
background-color: #FFF;
box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
margin: 2%;
max-width: 25%;
flex-direction: row-reverse;
border-radius: 2%;
text-align: center;
}

.titlecard2 {
  padding-top: 15px;
  font-size: 1.3rem;
  color: #4B4B4B;
  text-align: center;
}

#openBtn {
  position: relative;
  bottom: 10px;
  overflow: hidden;
  text-decoration: none;
  font-family: 'Archivo Black', sans-serif;
  font-size: 20px;
}





::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb{
  background-color: #fff;
}












